# React Native
node_modules/
*.log
*.tsbuildinfo

# Metro bundler cache
.expo/
.expo-shared/
.expo-cache/
.expo-cli/
*.expo

# Android
android/.gradle/
android/app/build/
android/build/
android/.idea/
android/local.properties
*.iml

# iOS
ios/Pods/
ios/build/
ios/DerivedData/
ios/.xcworkspace/
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/
ios/*.pbxuser
ios/*.mode1v3
ios/*.mode2v3
ios/*.perspectivev3

# macOS
*.DS_Store

# VSCode
.vscode/

# Environment files
.env
.env.*

# Others
coverage/
*.keystore
*.jks
*.p12

# Testing
jest-test-results.json
coverage/
